body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #0A0A0A;
    color: white;
}
header {
    background-color: #0A0A0A;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    position: sticky;
    top: 0;
    width: 100%;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #4CAF50;
}